@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
}

body {
    background: url('imagem/fundo-texturizado.jpg');
    background-size: cover;
    background-color: #ffd1bb;
    align-items: center;
    justify-content: center;

}

h1 {
    color: #8b0000;
    text-align: center;
    margin-top: 50px;
}

a {
    display: inline-block;
    margin: 30px;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.1);
}

img {
    border: 5px solid #d2691e;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;

}

.container {
    text-align: center;
}

.container img {
    display: inline-block;
}

div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
}
div > div {
    align-self: center;
}
